html {
    background: linear-gradient(to right, #999, #000);
}

body {
    font-family: Arial;
    font-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    margin: 0 auto;
    width: 800px;
    padding: 2em;
    text-align: center;   
    background-color: white;
    border: 0;
    border-radius: 0.4em;
    box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.4);
}

h1 {
    margin: 0em -1em 1.5em;
    padding: 0.3em;
    color: #fff;
    background-color: #4CAF50;
}

input[type=text] {
    width: 25em;
    padding: 0.5em 1em;
    border: 1px #999 solid;
    border-radius: 0.4em;
}

code {
    font-weight: bold;
    font-family: "Courier New";
    font-size: 120%;
    background-color: yellow;
}

.knoppen {
    margin: 3em -2em 1em;
    padding: 0.5em 0;
    background-color: #eee;
}

button {
    padding: 0.5em 1em;
    font-weight: bold;
}
.step{
    display: none;
}
.step:nth-child(1){
    display: block;
}