            <div class="step" id="step1" data-step="1">
                <h2>Stap 1: Maak een "working copy" (clone)</h2>
                <p>Open de Github Shell en zoek de juiste folder op je computer waar je de 
                "working copy" wilt hebben.</p>            
                <div>
                    <label for="folder">Folder op je computer:</label>
                    <input type="text" id="folder" value="C:\xampp\htdocs\myproject">
                </div>

                <pre><code id="zoekFolderCommando" data-copy>cd C:\xampp\htdocs\myproject</code></pre>

                <p>Maak een "working copy" op je eigen computer. Voer hieronder de URL in van de 
                repository op de server. Deze kun je vinden op de Github site.</p>
                <div>
                    <label for="cloneUrl">Clone URL:</label>
                    <input type="text" id="cloneUrl" value="https://github.com/myusername/myproject.git">
                </div>

                <pre><code id="cloneCommand" data-copy>git clone https://github.com/myusername/myproject.git</code></pre>
            </div>
