            <div class="step" id="step3" data-step="3">
                <h2>Stap 3: Check voor updates</h2>
                <p>Voordat je je commits naar de server stuurt, moet je eerst kijken of er
                ondertussen geen wijzigingen zijn geweest op de server. Update dus eerst
                eventuele wijzigingen van de server naar je "working copy".</p> 
                
                <pre><code data-copy>git pull</code></pre>
                
                <p>Het kan zijn dat er conflicten optreden tussen de wijzigingen die jij hebt
                aangebracht en wijzigingen die van de server komen. Deze conflicten moeten
                eerst worden opgelost voordat je verder gaat.</p>
            </div>
